<!-- Création du formulaire de connexion 
<div class="login-background">

<div class="wrapper">
<form (ngSubmit)="loginUser()" action="">
    <h1>Login</h1>
     <div class="input-box">
       <input type="text" [(ngModel)]="Email" name="login" placeholder="Login" required="">
        <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
        <i class='bx bxs-lock-alt'></i>
    </div>
    <button type="submit" class="btn">Login</button>
    <div class="register-link">
      <p>j'ai pas de compte </p><a 
      routerLink="/signin">Login</a>
  </div>
  </form>
</div>
</div>
-->
<div class="bubbles">
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
  </div>
<div class="login-background">
   
<div class="container" id="container" [class.active]="isActive">
  <div class="form-container sign-up">
      <form>
          <h2>Creation de Compte</h2>
          <div class="social-icons">
            <a href="#" class="icon"><fa-icon [icon]="faHome"></fa-icon></a>
        </div>
          <input type="text" id="Nom" name="Nom" placeholder="Nom de famille" [(ngModel)]="user.Nom" required="">
          <input type="email" id="Email" name="Email" placeholder="Email" [(ngModel)]="user.Email" required>
          <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="user.password" required>
          <select id="role" name="role" [(ngModel)]="user.role" required>
            <option value="admin">Admin</option>
            <option value="enseignant">Enseignant</option>
            <option value="etudiant">Étudiant</option>
          </select>
          <button type="button" (click)="createAccount()">Sign Up</button>
      </form>
  </div>
  <div class="form-container sign-in">
      <form (ngSubmit)="loginUser()">
          <h1>Se Connecter</h1>
          <div class="social-icons">
              <a href="#" class="icon"><fa-icon [icon]="faHome"></fa-icon></a>
          </div>
          <input type="email" name="login" placeholder="Login" required="" [(ngModel)]="Email">
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
          <button type="submit" >Log In</button>
      </form>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>Content De Vous Revoir!</h1>
              <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
              <button class="hidden" id="login" (click)="login()" >Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
              <h1>Bonjour!</h1>
              <p>Inscrivez-vous avec vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
              <button class="hidden" id="register"(click)="register()">Sign Up</button>
          </div>
      </div>
  </div>
</div>

</div>
