.diver {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour cacher les coins arrondis dépassant de l'élément parent */
  
}

.form {
  display: flex;
  flex-direction: column;
}

.animated-form-field {
  margin-bottom: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.animated-form-field:hover {
  transform: scale(1.05);
}

button.mat-stroked-button {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

button.mat-stroked-button:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #3498db;
  cursor: pointer;
  transform: scale(1.1);
}
.login-background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond avec transparence */

  height: calc(205vh - 100vh);  
  background-image: url('../../images/Students.jpg'); /* Remplacez le chemin avec le chemin réel de votre image */
  background-size: cover;
  background-position: center;
}
.bubbles{
  position: relative;
  display: flex;

}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s /var(--i));
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
   {
    transform: translateY(-10vh) scale(1);
   }
}
