<div class="diver" >
    <form ngForm (submit)="onSubmit(); assignmentForm.reset()"#assignmentForm class="form" >
      <mat-form-field>
        <input matInput [(ngModel)] = "nomDevoir" name="nom" placeholder="Nom du devoir" required> 
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a dates</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" placeholder="date de devoir">
        <mat-hint>MM/DD/YYYY</mat-hint> 
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <button mat-stroked-button 
             color="primary"
             [disabled]="!ajoutActive" >
        Ajouter un devoirs
      </button>
    </form> 
    
  </div>

