/* styles.css or styles.scss */

.diver {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

mat-card {
  position: absolute; /* Position mat-card absolutely */
  top: 10px; /* Ajustez la valeur en conséquence */
  left: 0px; /* Ajustez la valeur en conséquence */
  width: 310px; /* Set a specific width for the mat-card */
  height: 270px; /* Set a specific height for the mat-card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure mat-card is above the table */
  overflow: auto; /* Enable overflow with scrollbars if content exceeds the fixed size */
  display: none; /* Initially hide the mat-card */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */

  img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 50%; /* Make the image a rounded circle */
    overflow: hidden; /* Ensure overflow is hidden for rounded corners */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image within its container */
  }
}
.diver:hover .mat-card {
  display: block;
}

mat-card-content {
  max-width: 100%; /* Ensure the content doesn't exceed the card width */
  padding: 0px; /* Adjust padding as needed */
}

mat-card-title {
  font-size: 18px; /* Adjust font size as needed */
}

mat-card-subtitle {
  font-size: 14px; /* Adjust font size as needed */
  color: #757575;
}

button {
  margin-top: 15px;
}

mat-checkbox {
  margin-top: 20px;
}

.checked {
  border: 2px solid green;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  position: relative;
  z-index: 0;
}


th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination-controls button {
  padding: 10px;
  cursor: pointer;
}

.pagination-controls span {
  line-height: 40px;
}

@media (max-width: 768px) {
  .diver {
    padding: 10px;
  }
}
.login-background {
  height: auto;
  margin-bottom: 20px; 

}


/* Style du conteneur des options par page */
.items-per-page {
  margin-top: 10px;
}

/* Style de l'étiquette (label) */
.items-per-page label {
  margin-right: 10px;
}

/* Style de la liste déroulante (dropdown) */
.items-per-page select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Style des options de la liste déroulante */
.items-per-page option {
  background-color: #fff;
  color: #000;
}

/* Style lorsqu'un élément de la liste déroulante est survolé */
.items-per-page option:hover {
  background-color: #f2f2f2;
}

/* Style lorsqu'un élément de la liste déroulante est sélectionné */
.items-per-page select:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.4);
}
.bubbles{
  position: relative;
  display: flex;

}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s /var(--i));
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
   {
    transform: translateY(-10vh) scale(1);
   }
}

