.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mat-card {
    width: 50%;
    padding: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  .login-background {
    background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond avec transparence */
  height: calc(205vh - 100vh);  
  background-image: url('../../../images/Students.jpg'); /* Remplacez le chemin avec le chemin réel de votre image */
  background-size: cover;
  background-position: center;
  }