<div class="login-background">
  <div class="bubbles">
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
  </div>
<div class="container" *ngIf="assignment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edition de l'assignment {{assignment.nom}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
        <mat-form-field appearance="outline">
          <mat-label>Edition du nom</mat-label>
          <input matInput [(ngModel)]="nomAssignment" name="assignment-name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Edition de la date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Ajouter un champ -->
        <mat-form-field>
          <mat-label>Choisir une matière</mat-label>
          <mat-select [(ngModel)]="nomMatiere" name="nomMatiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere">
              {{ matiere }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Edition du Note</mat-label>
          <input matInput [(ngModel)]="Notes" name="Notes">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Remarque </mat-label>
          <input matInput [(ngModel)]="Remarque" name="Remarque">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
          Sauver
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>